@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* =========================================== ESTRUTURAÇÃO E ESTILIZAÇÃO DA PAGINA DE LOGIN ========================================= */
.container-inicio {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.container-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: yellowgree;
    transform: translateX(-13rem);
}

.container-simbolo {
    background-color: aqu;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 38%;
    height: 90%;
}

h1 {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 4.8rem;
    font-weight: 200;
}

h2 {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 2rem;
}

h4 {
    font-family: "Poppins", sans-serif;
    color: #a2a59c;
    font-weight: 400;
    font-size: 14px;
    margin-top: 23px;
}

form {
    background-color: aqa;
    width: 26rem;
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

input {
    border-radius: 7px;
    border: solid #5a5a5a 1px;
    padding: 0.6rem;
    width: 23.6rem;
    background-color: #1a1a1a;
    color: white;
    font-family: "Poppins", sans-serif;
}

#logar {
    padding: 0.7rem;
    width: 25.8rem;
    background-color: #3c7eff;
    color: white;
    border-radius: 5px;
    border: 1px solid #3c7eff;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    transition: .2s ease;
}

#logar:hover {
    border: solid 1px #6699ff;
    background-color: #558eff;
    cursor:pointer
}


img {
    width: 62%;
}

.bx-user {
    color: #5a5a5a;
    font-size: 1.5rem;
    pointer-events: none;
    transition: .2s ease;
}

#usuario:placeholder-shown + .box-user-ico i {
    color: #5a5a5a;
}

#usuario:not(placeholder-shown) + .box-user-ico i,
#usuario:focus + .box-user-ico i {
    color: white;
}

.bx-lock-alt {
    color: #5a5a5a;
    font-size: 1.5rem;
    transition: .2s ease;
}

#senha:placeholder-shown + .box-lock-ico i {
    color: #5a5a5a;
}

#senha:not(placeholder-shown) + .box-lock-ico i,
#senha:focus + .box-lock-ico i {
    color: white;
}

.box-user-ico {
    background-color: #1a1a1a;
    border-radius: 7px;
    padding: 5px;
    border: solid #5a5a5a 1px;
}

.box-lock-ico {
    background-color: #1a1a1a;
    border-radius: 7px;
    padding: 5px;
    border: solid #5a5a5a 1px;
}

.div-line {
    background-color:#121212 ;
    width: 16rem;
    height: 3px;
    border-radius: 3px;
    margin-top: 10px;
}

.prod-by {
    filter: opacity(35%);
}


/* =========================================== RESPONSIVIDADE DA PAGINDA DE LOGIN ======================================== */

@media (max-width: 450px) {
    
    .container-inicio {
        width: 100vw;
        height: 100vh;
        overflow-y: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .container-login {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        background-color: yellowgree;
        transform: translateX(0rem);
        transform: translateY(-4rem);
    }

    form {
        background-color: aqa;
        width: 25rem;
        height: 13rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    input {
        border-radius: 7px;
        border: solid #5a5a5a 1px;
        padding: 0.6rem;
        width: 22.5rem;
        background-color: #1a1a1a;
        color: white;
        font-family: "Poppins", sans-serif;
    }

    #logar {
        padding: 0.7rem;
        width: 24.8rem;
        background-color: #3c7eff;
        color: white;
        border-radius: 5px;
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        transition: .2s ease;
    }

    img {
        width: 150%;
    }

    h1 {
        font-family: "Poppins", sans-serif;
        color: white;
        font-size: 3rem;
        font-weight: 200;
    }
}

@media (max-width: 405px) {
    .container-inicio {
        width: 100vw;
        height: 100vh;
        overflow-y: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .container-login {
        transform: translateY(-16px);
    }

    img {
        width: 130%;
    }

    h1 {
        font-size: 2.4rem;
    }

    form {
        background-color: aqa;
        width: 22rem;
        height: 13rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    input {
        border-radius: 7px;
        border: solid #5a5a5a 1px;
        padding: 0.6rem;
        width: 19.5rem;
        background-color: #1a1a1a;
        color: white;
        font-family: "Poppins", sans-serif;
    }
    
    #logar {
        padding: 0.7rem;
        width: 23rem;
        background-color: #3c7eff;
        color: white;
        border-radius: 5px;
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        transition: .2s ease;
    }
}



/*============================================ ESTILIZAÇÃO DA PAGINA HOME =========================================*/

.container-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 3px 0 rgb(178, 178, 178);
}

.bx-user-circle {
    color: white;
    font-size: 3.5rem;
    transform: translateX(-10px);
    transition: .2s ease;
}

.bx-user-circle:hover {
    cursor: pointer;
    font-size: 3.8rem;
    transform: translateX(-8px);
    box-shadow: inset 0 0 5px #fff;
    border-radius: 50%;
}


/*========================================== ESTILIZAÇÃO DA BARRA DE NAVEGAÇÃO ==============================================*/
nav.sidebar {
    z-index: 5;
    width: 70px;
    height: 100%;
    background-color: #1a1a1a;
    padding: 20px 0 40px 10px;
    box-shadow: 3px 0 0 rgb(178, 178, 178);

    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: .2s ease;
}

nav.sidebar.expandir {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir i {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    align-self: center;
    transition: .2s ease;
}

.btn-expandir i:hover {
    font-size: 2.5rem;
    transform: translateX(-4px);
}


ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s ease;
}

ul li.ativo{
    background-color: rgb(178, 178, 178);
}

ul li.item-menu:hover {
    background-color: rgb(178, 178, 178);
    box-shadow: 0 0 3px rgb(178, 178, 178);
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-top: 24px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: .2s ease;
}

nav.sidebar.expandir .txt-link {
    margin-left: 40px;
}

ul li.item-menu a .icon > i {
    font-size: 30px;
    margin-left: 10px;
}

.teste {
    height: 10000px;
    width: 100px;
    background-color: aqua;
}

/* ========================================= ESTRUTURAÇÃO E ESTILIZAÇÃO DA PAGINA HOME ==================================== */

/* CONTROLE DE VALIDADE  */


.container-controle-prod {
    background-color: lue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 93vw;
    height: 80vh;
    position: absolute;
    top: 6.15rem;
    left: 6rem;

}

.container-controle-prod p {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 4px 0 4px;
}

#dados-inicio {
    text-align: center;
    font-size: 5rem;
    margin-top: 1rem;
}

.container-label-dados {
    background-color: #c0c0c075;
    border:solid 2px #c9c9c9;
    width: 100%;
    padding: 8px 10px;
    border-radius: 1rem;
}

.container-label-dados h3 {
    font-weight: 500;
    font-size: 22px;
}


.container-total-min {
    background-color: #d2772e;
    width: 18rem;
    height: 17rem;
    border-radius: 2rem;
    border:solid 2px #f59a4f;
    box-shadow: 0 0 15px #f59a4f;
    text-align: center;
}

.container-total-90 {
    background-color: #d3cf6b;
    width: 18rem;
    height: 17rem;
    border-radius: 2rem;
    border:solid 2px #eeeb9f;
    box-shadow: 0 0 15px #eeeb9f;
    text-align: center;
}

.container-total-30 {
    background-color: #e92933;
    width: 18rem;
    height: 17rem;
    border-radius: 2rem;
    border:solid 2px #f45f66;
    box-shadow: 0 0 15px #f45f66;
    text-align: center;
}


.container-util {
    background-color: #25d39f;
    width: 18rem;
    height: 17rem;
    border-radius: 2rem;
    border:solid 2px #74ffd5;   
    box-shadow: 0 0 15px #74ffd5;
    text-align: center;
}

.container-inner {
    width: 70vw;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* estilização da paginda de estoque */

.container-estoque {
    position: absolute;
    top: 7rem;
    left: 6rem;
    width: 93vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.estoque-label {
    background-color: #c0c0c075;
    border:solid 2px #c9c9c9;
    width: 100%;
    padding: 8px 10px;
    border-radius: 1rem;
}

.estoque-label p {
    font-weight: 500;
    font-size: 22px;
}

table {
    width: 90%;
    height: 50vh;
    background-color: whitesmoke;
    margin-top: -3rem;
    border-radius: 10px;
    position: absolute;
    top: 10rem;
}


tr:nth-child(even) {
    background-color: rgb(234, 234, 234);
}

table, th, td {
    border-bottom: 3px solid rgb(203, 203, 203);
    border-collapse: collapse;
    height: 3rem;
    padding-left: 5px;
    text-align: start;
}




/* ESTILIZAÇÃO DA PAGINA DE CADASTRO */

